@media screen and (max-width: 576px) {
  section {
    max-width: 95%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .banner-container,
  .habit-img-container,
  .run-container,
  .footer-container,
  .content,
  .tip-cards {
    flex-direction: column;
  }
  .banner-txt-container {
    margin-bottom: 50px;
  }
  .btn-container button {
    width: 220px;
    font-size: 1rem;
    padding: 16px 35px;
  }
  .content {
    gap: 50px;
  }
  .info1 {
    top: 30px;
    right: -5px;
  }
  .info2 {
    bottom: 280px;
    left: 10px;
  }

  .hambergur-menu {
    display: block;
    color: #fff;
  }
  .nav-right {
    display: none;
  }
  .habit-img-child {
    margin-top: 10px;
  }
  .run-txt-container {
    width: 100%;
    margin-bottom: 0px;
  }
  .run-txt-container .btn-primary {
    width: 80%;
    margin-bottom: 0px;
  }
  .run-img-container {
    width: 100%;
    margin-top: 0px;
  }
  .team-img-container {
    grid-template-areas:
      'a'
      'b'
      'c'
      'd'
      'e'
      'f';
  }
  .get-start {
    text-align: left;
  }
  .footer-txt-container {
    width: 80%;
  }
}
